# Ігнорування всіх node_modules в будь-якій папці
**/node_modules/

# Ігнорування білду (наприклад, у Vite або React)
**/dist/
**/build/

# Ігнорування середовищ
.env
.env.local
.env.*.local

# Ігнорування редакторів
.vscode/
.idea/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
